<div class="container my-5 pt5">
  <h1 class="py-5 text-center">Add Job Description</h1>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <form action="job-descripttion" class="form">
        <div class="row">
         
          <div class="col-md-6">
            <div class="form-group">
              <label for="organizationunit">Organization Unit</label>
              <input type="text" name="organizationunit" class="form-control">
            </div>
          </div>
         
          <div class="col-md-6">
            <div class="form-group">
              <label for="reportsto">Reports To</label>
              <input type="text" class="form-control" name="reportsto">
            </div>   
          </div>
        </div>

        <div class="row">
          
          <div class="col-md-6">
            <div class="form-group">
              <label for="jobholder">Job Holders Name</label>
              <input type="text" class="form-control" name="jobholder">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="noOfDirectReports">Number of direct Reports</label>
              <input type="text" class="form-control" name="noOfDirectReports">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="totalStaffCon">Total Staff Controlled</label>
              <input type="text" class="form-control" name="totalStaffCon">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="jobPurpose">Main Purpose of the job</label>
              <textarea name="jobPurpose" id="jobPurpose" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="unitCon">Units/Functions Controlled</label>
              <input type="text" class="form-control" name="unitCon">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="keyResultArea">Key Result Area</label>
              <input type="text" class="form-control" name="keyResultArea">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="avarage">Avarage percentage</label>
              <input type="text" class="form-control" name="avarage">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="keyPerformanceArea">Key Performance Area</label>
              <input type="text" class="form-control" name="keyPerformanceArea">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="keyPerformanceIndicator">Key Performance Indicator</label>
              <input type="text" class="form-control" name="keyPerformanceIndicator">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="knowledge">Knowledge</label>
              <input type="text" class="form-control" name="knowledge">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="specialSkill">Special Skill</label>
              <input type="text" class="form-control" name="specialSkill">
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for="personalQualities">Personal Qualities</label>
              <input type="text" class="form-control" name="personalQualities">
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>