<div class="container mt-5 pt-5">
  <h1>Employees</h1>
   <div class="row">
    <div class="col-md-3 offset-md-9">
      <input type="text" class="form-control" id="search-bar" placeholder="Search">
    </div>
  </div>
  <table class="table mt-5">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Job Title</th>
        <th>Joining Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td contenteditable="true">1</td>
        <td contenteditable="true">413</td>
        <td contenteditable="true">fasdfsadfsadf</td>
        <td contenteditable="true">fasdfsadfsadf</td>
        <td >
          <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
          <a href="/training-courses" class="btn btn-primary"><i class="fas fa-book"></i></a>
          <a href="/performance" class="btn btn-success"><i class="fas fa-tachometer-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>