
<div class="container pt-5">
  <table class="table mt-5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Job Title</th>
      <th>Joining Date</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
      <td>{{_id}}</td>
      <td>{{name}}</td>
      <td>{{jobTitle}}</td>
      <td>{{joiningDate}}</td>
      <td >
        <a href="/reviews/performance" class="btn btn-success"><i class="fas fa-tachometer-alt"></i></a>
        <a href="/training-courses" class="btn btn-primary"><i class="fas fa-book"></i></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>