<div class="container mt-5 pt-5">
  <h1>Courses Selected</h1>
  <table class="table mt-5">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Trainer</th>
      <th>Student</th>
      <th>Payment Type</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td contenteditable="true">1</td>
      <td contenteditable="true">413</td>
      <td contenteditable="true">fasdfsadfsadf</td>
      <td contenteditable="true">fasdfsadfsadf</td>
      <td contenteditable="true">fasdfsadfsadf</td>
      <td >
        <a href="/training-sessions" class="btn btn-success"><i class="fas fa-user-graduate"></i></a>
      </td>
    </tr>
  </tbody>
</table>

</div>