
<div class="container pt-5">
  <h1>Training Sessions</h1>
  <table class="table mt-5">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Course</th>
      <th>Schedualed Time</th>
      <th>Status</th>
      <th>Delivery Method</th>
      <th>Delivery Location</th>
      <th>Attendance Type</th>
      <th>TC Required</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td contenteditable="true">1</td>
      <td contenteditable="true">413</td>
      <td contenteditable="true">fasdfsadfsadf</td>
      <td contenteditable="true">fasdfsadfsadf</td>
      <td contenteditable="true">1</td>
      <td contenteditable="true">413</td>
      <td contenteditable="true">fasdfsadfsadf</td>
      <td contenteditable="true">fasdfsadfsadf</td>
     <td contenteditable="true">fasdfsadfsadf</td>  
      <td >
        <a href="" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
      </td>
    </tr>
  </tbody>
</table>

</div>